extends layout

block content 
  h2#title New message form
  form.form(action="/new", method="post") 
    input.input(type="text" name="author" placeholder="Author" required)
    input.input(type="text" name="message" placeholder="Message" required)
    button.button(type="submit") Send Message